.idea
.vscode
.DS_Store
*.lock
*.log
examples/*.log
examples/skills_code_review_agent/review.db
examples/skills_code_review_agent/*.db

trpc-agent-py.egg-info

build
dist
.venv
venv
venv*
__pycache__

.coverage
htmlcov
cov.tmp
coverage.xml
test-ngtest-ut-trpc-agent-py.xml
.pytest_cache

node_modules
package-lock.json
pyrightconfig.json
